<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Americano</title>
        <%- include('partials/nav.ejs') %>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Americano",
            "image": "Images/americano.png",
            "author": {
              "@type": "Person",
              "name": "Just Manuel"
            },
            "recipe": {
              "@type": "Recipe",
              "recipeYield": "1",
              "cookTime": "PT10M",
              "totalTime": "PT10M",
              "nutrition": {
                "@type": "NutritionInformation",
                "calories": "100 calories"
              },
              "recipeInstructions": [
                {
                  "@type": "HowToStep",
                  "text": "Add the ingredients into the Glass. "
                },
                {
                  "@type": "HowToStep",
                  "text": "Build inside the glass."
                },
                {
                  "@type": "HowToStep",
                  "text": "Garnish with a nice orange peel."
                }
              ],
              "ingredients": [
              3 cl Red Vermouth
              3 cl Campari
              3 cl Soda
              
              ]
            }
          }
        </script>
        </head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Americano</h1>
                <img class="cocktail-images" src="Images/Negroni.png" alt="Negroni">
                <div class="p-div-cocktail">
                    <p class="p-center">
                        Americano cocktail is one of the most famous especially in Italy .
                        <br>
                        Bitter,herbal and sparkling , this drink is very popular before dinner less
                        strong than the negroni and negroni sbagliato but is perfect to drink for an
                        Aperitivo.

                        <br>
                        if you are interested to know more than check
                        <a class="link-text" href="/americano-story">Here
                        </a>
                        .
                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        Mix the red Vermouth and the Campari into the glass add some ice , stir it up
                        and add soda then garnish with a nice Orange peel
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Tumbler
                        <br>
                        Method: Build
                        <br>
                        Garnish: Orange peel
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>3 cl Red Vermouth</li>
                            <li>3 cl Campari</li>
                            <li>3 cl Soda</li>
                        </ul>
                           <iframe
                          
                            src="https://www.youtube.com/embed/W-gOzBRvtS0?si=jkjFZeJ4fBNv6LwV&amp;start=25"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <hr>

                </div>
            </div>

        </div>

    </div>
</body>
</html>