<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Russian</title>
      <%- include('partials/nav.ejs') %>
      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Black Russian",
            "image": "Images/black-russian.png",
            "author": {
                "@type": "Person",
                "name": "Just Manuel"
            },
            "recipe": {
                "@type": "Recipe",
                "recipeYield": "1",
                "cookTime": "PT0M",
                "totalTime": "PT0M",
                "nutrition": {
                    "@type": "NutritionInformation",
                    "calories": "Calories not specified"
                },
                "recipeInstructions": [
                    {
                        "@type": "HowToStep",
                        "text": "Mix all the ingredients into the glass and stir it up with some ice."
                    }
                ],
                "ingredients": [
                    "4.5 cl Vodka",
                    "4.5 cl coffee liqueur"
                ]
            }
        }
    </script>
    </head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Black Russian</h1>
                <img class="cocktail-images" src="Images/black-russian.png" alt="Daiquiri">
                <div class="p-div-cocktail">
                    <p class="p-center">
                        Black russian pretty easy cocktail just 2 ingredients there is also another
                        variant with double cream call
                        <a class="link-text" href="/white-russian">White Russian</a>.
                        <br>
                        Nice drink for who love Vodka based drink on ice little sweet well balanced from
                        the coffee liquor slightly bitter .
                        <br>
                        if you are interested to know more than check
                        <a class="link-text" href="/black-russian-story">
                            Here</a>
                        .
                    </p>
                </div>

                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        mix all the ingredients into the glass and stir it up with some ice .
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Tumbler
                        <br>
                        Method: Build
                        <br>
                        Garnish: No garnish
                    </p>
                    <br>

                </div>
                <div class="div-ul">

                    <ul>
                        <li>4.5 cl Vodka</li>
                        <li>4.5 cl coffee liqueur</li>

                    </ul>

                </div>

            </div>
       <%- include('partials/footer.ejs') %>
</body>
    </html>