<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Russian Russian Story</title>
      <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="divintro">

                <h1>Black Russian</h1>
                <img class="cocktail-images" src="Images/black-russian.webp" alt="Daiquiri">
                <div class="divParagraph">
                    <p >
                    Black Russian named probably after the ingredients kalúha and Vodka,
                    most know for his child <a class="link-text" href="/white-russian">White Russian</a> . 
                    <br>
                    Created in Belgium, Brussels in the luxury 5 stars Hotel Metropole around 1949-1950 during cold war between Russia and America .
                    <br>
                    The creator was Gustave Tops,who made this signature inspired by US ambassador In Luxembourg Perle Mesta .
                    <br>
                    Perle Mesta was very famous for her exclusive parties in Washington she loved to organize with many politics and actors of the era . 
                    <br>
                    Where she have brought back the recipe and is thanks to her we now know the Black Russian.
                        

                        <br>
                        See recipe
                        <a class="link-text" href="/black-russian">Here the recipe</a>

                    </p>
                </div>

            </div>
       <%- include('partials/footer.ejs') %>
</body>
    </html>