<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cosmopolitan</title>
        <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Cosmopolitan</h1>
                <img
                    class="cocktail-images"
                    src="Images/cosmopolitan.png"
                    alt="Cosmopolitan cocktail image">
                <div class="p-div-cocktail">
                    <p class="p-center">
                        This cocktail is based on Vodka ,Lemon ,Cointreau and Cranberry there are many
                        stories behind this cocktails check
                        <a class="link-text" href="https://en.wikipedia.org/wiki/Cosmopolitan_(cocktail)#:~:text=Bartender%20Neal%20Murray%20says%20he,used%201.5%20oz%20Gordon's%20vodka%2C%20.">here </a>
                    </p>
                </div>

                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        Mix all the ingredients into the Shaker and shake it up with some ice .
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Coupette 
                        <br>
                        Method: Shake
                        <br>
                        Garnish: Orange peel 
                    </p>
                    <br>

                </div>
                <div class="div-ul">

                    <ul>
                        <li>4cl Vodka</li>
                        <li>2cl Cointreau </li>
                        <li>2cl Lemon</li>
                        <li>3cl Cranberry </li>
                    </ul>

                </div>

            </div>
            <%- include('partials/footer.ejs') %>
        </body>
    </html>