<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Daiquiri</title>
       <%- include('partials/nav.ejs') %>
       <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Daiquiri",
            "image": "Images/Daiquiri.webp",
            "author": {
                "@type": "Person",
                "name": "Just Manuel"
            },
            "recipe": {
                "@type": "Recipe",
                "recipeYield": "1",
                "cookTime": "PT0M",
                "totalTime": "PT0M",
                "nutrition": {
                    "@type": "NutritionInformation",
                    "calories": "Calories not specified"
                },
                "recipeInstructions": [
                    {
                        "@type": "HowToStep",
                        "text": "Mix all the ingredients, squeeze the lime, and leave half lime shell into the Shaker. Add some ice, shake it up for 15 seconds, and garnish with a nice lime peel or dry lime."
                    }
                ],
                "ingredients": [
                    "6 cl White Cuban rum",
                    "3 cl Fresh lime juice",
                    "2 cl Sugar syrup/or/2-3 spoons caster",
                    "Half lime shell"
                ]
            }
        }
    </script>
       </head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Daiquiri</h1>
                <img class="cocktail-images" src="Images/Daiquiri.webp" alt="Daiquiri">
                <div class="p-div-cocktail">
                    <p class="p-center">The Daiquiri is a White cuban rum based cocktail created in
                        cuba simple but very nice and refreshing one of my preferite, i have always
                        asked my self what is the difference between a rum sour and daiquiri no one can
                        really answer my question so i come up with this recipe. many bars where i used
                        to work where doing it like this and it make sense to me .
                        <br>
                        if you are intersted to know more than check
                        <a class="link-text" href="/daiquiri-story">
                            Here</a>
                        .
                    </p>
                </div>

                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        mix all the ingridients squize the lime and leave half lime shell into the
                        Shaker add some ice ,shake it up 15seconds and garnish whith a nice lime peel or
                        dry lime
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: coupette
                        <br>
                        Method: shake
                        <br>
                        Garnish: Peel or dry lime
                    </p>
                    <br>

                </div>
                <div class="div-ul">

                    <ul>
                        <li>6 cl White cuban rum</li>
                        <li>3 cl Fresh lime juice</li>
                        <li>2 cl Sugar syrup/or/2-3 spoons caster
                        </li>
                        <li>Half lime shell</li>
                    </ul>
                    <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/ADvBRjBx3_Q?si=nRKY_Aa-F8PZuWby&amp;start=25"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

                </div>
                

            </div>
            <hr>
       <%- include('partials/footer.ejs') %>
</body>
    </html>