<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Espresso Martini</title>
      <%- include('partials/nav.ejs') %>
      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Espresso Martini",
            "image": "Images/espresso-martini.png",
            "author": {
                "@type": "Person",
                "name": "Just Manuel"
            },
            "recipe": {
                "@type": "Recipe",
                "recipeYield": "1",
                "cookTime": "PT0M",
                "totalTime": "PT0M",
                "nutrition": {
                    "@type": "NutritionInformation",
                    "calories": "Calories not specified"
                },
                "recipeInstructions": [
                    {
                        "@type": "HowToStep",
                        "text": "Mix all the ingredients into the Shaker, add some ice, shake it up for 10-15 seconds, and garnish with 3 coffee beans."
                    }
                ],
                "ingredients": [
                    "5 cl Vodka",
                    "3 cl coffee liqueur",
                    "3 cl Espresso coffee",
                    "Sugar is optional or any syrups you like"
                ]
            }
        }
    </script>
</head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Espresso Martini</h1>
                <img class="cocktail-images" src="Images/espresso-martini.png" alt="Daiquiri">
                <div class="p-div-cocktail">
                   <p class="p-center">
                    The origin of this drink is not so long ago 1980s
                    London, Fred's Club, a young lady come to the bar and asked the barman Dick
                    Bradsell .
                    <br>
                    Young Lady:"Can you do something to wake me up and F***k me up ."
                    <br>
                    The drink is a coffee and vodka based cocktail a little bitter and low sugar the
                    only sweet part comes from the liqueur .
                    <br>
                    The original recipe is whitout sugar but many bar like to add a bit of syrup
                    like vanilla, choccolate ,honey or any others .
                    <br>
                        if you are intersted to know more than check 
                        <a class="link-text" href="/espresso-martini-story">
                            Here</a>
                       .
                    </p>
                </div>

                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        mix all the ingridients into the Shaker add some ice ,shake it up 10-15 seconds
                        and garnish whith 3 coffe beans .
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: coupette
                        <br>
                        Method: shake
                        <br>
                        Garnish: 3 coffe beans
                    </p>
                    <br>

                </div>
                <div class="div-ul">

                    <ul>
                        <li>5 cl Vodka</li>
                        <li>3 cl coffee liqueur</li>
                        <li>3 cl Espresso coffee
                        </li>
                        <li>Sugar is optional or any syrups you like
                        </li>
                    </ul>

                </div>
                

            </div>
       <%- include('partials/footer.ejs') %>
</body>
    </html>