<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <meta
            name="description"
            content="Discover a collection of classic cocktail recipes by Just Manuel. Explore Negroni, Daiquiri, Whiskey Sour, and more. Personalized interpretations for a unique taste experience.">
        <title>Bartender Blog Just Manuel | Cocktails recipes</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <link rel="stylesheet"  href="/style.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Just Manuel 🍸</a>
                </div>
                <ul class="nav navbar-nav  ">
                    <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/classic-cocktails-recipe">Recipes</a>
                        </li>
                        <li>
                            <a href="/bar-stories">Bar stories</a>
                        </li>
                        <li>
                            <a href="/info-contacts">Info & Contacts</a>
                        </li>
                        <li>
                            <a href="/quiz">Cocktails Quiz</a>
                        </li>
                </ul>
                <form id="search-bar" action="/check" method="POST" class="form-inline  my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        id="search-cocktails"
                       name="search-cocktails"
                        placeholder="search-cocktails.."
                        aria-label="Search">

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="divIntroColor">
            <div class="row">
                <div class="divintro col-sm-6">
                    <h1>Welcome
                    </h1>
                    <br>
                    <div class="divParagraph">
                        <p>
                            Welcome to my blog here you will find all about cocktails and bars.
                            <br>
                            Bar owners,pro barman's,beginners or cocktails lovers?.
                            <br>
                            This is the right place for you!.
                            <br>
                            Find some of the best cocktails recipes online .
                            <br>
                            Interesting Stories to enjoy while drinking .
                            <br>
                            Personal preparations,innovation and many ideas .
                            <br>
                            Study the recipes and test yourself with the cocktails quiz game.
                            <br>
                        </p>
                    </div>
                </div>
                <div class="divintro">
                    <h1>Check it out:</h1>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">

                            <div class="card-body">
                                <img
                                    class="card-img-top"
                                    src="/Images/camp2.png"
                                    alt="Card image cap">
                                <h3 class="card-title">
                                    Meet Me!
                                </h3>
                                <p class="card-text p-center-card">
                                    Meet me you can read my story here .
                                </p>
                                <a href="/meet-me" class="btn btn-primary">Read my story
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">

                            <div class="card-body">
                                <img
                                    class="card-img-top"
                                    src="/Images/quiz-image.png"
                                    alt="Card image cap">
                                <h3 class="card-title">
                                    Quiz Night?
                                </h3>
                                <p class="card-text p-center-card">
                                Do yo feel the best barman? would you be good enough?.
                                </p>
                                <a href="/quiz" class="btn btn-primary">Try the Quiz
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

   <%- include('partials/footer.ejs') %>
</body>
</html>