<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <title>Bartender Blog/Intro</title>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-G-ELENK56N9P"></script>
<!--google analytics-->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-ELENK56N9P');
</script>
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Just Manuel 🍸</a>
                </div>
                <ul class="nav navbar-nav">
                    <li >
                        <a href="/index">Home</a>
                    </li>
                    <li >
                        <a href="/classic-cocktails-recipe">Recipes</a>
                    </li>
                    <li >
                        <a href="/bar-stories">Bar stories</a>
                    </li>
                    <li class="active">
                        <a href="/info-contacts">Info & Contacts</a>
                    </li>
                    <li>
                        <a href="/quiz">Cocktails Quiz</a>
                    </li>
                </ul>
                <form id="search-bar" action="/check" method="POST" class="form-inline  my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        id="search-cocktails"
                       name="search-cocktails"
                        placeholder="search-cocktails.."
                        aria-label="Search">

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="divIntroColor">
            <div class="divintro">
                <h1>Do you want to open a cocktail bar or do you already have one that isn't
                    working?</h1>
                <p class="divParagraph">
                    Then you've come to the right place. I offer my knowledge from many years of
                    experience around the best bars in the world to help you set up your bar in the
                    best way for your business.
                </p>
                <hr>
                <h1>What kind of services do I offer?</h1>
                <hr>
                <h2>Bar plan and set up.</h2>
                <p class="divParagraph">
                    I can plan and organize the bar in the best way according to HACCP standards,
                    ensuring it's workable for the bartenders and appealing to the clients.
                    <br>
                    Many bar owners don't know what a bar should look like to create a nice working
                    environment.
                    <br>
                    As a result, they may end up with a nice-looking bar but struggle to find good
                    bartenders to work for it because it's not comfortable to work.
                    <br>
                    So, bar planning, organization, and setup are very important fundamentals to
                    properly run the business.
                </p>
                <hr>
                <h2>List of bar tools and products.</h2>
                <p class="divParagraph">
                    Many bar owners or bartenders buy unnecessary items like many soft drinks,
                    syrups, or spirits that aren't really needed for the startup.
                    <br>
                    Ok, if you have a crazy amount of money to spend, also your target is premium
                    clients, then of course you buy the best.
                    <br>
                    But still, you will have to set up in the right way, exclusive way in this case.
                    <br>
                    You don't want people to buy bottles they can find in supermarkets.
                    <br>
                    What you really need for a startup is the minimum useful amount of stock where
                    the guest is happy and the owner doesn't spend a crazy amount of money on things
                    that will never be used or drunk.
                    <br>
                    It's a waste of money and we all know how having less waste, especially at the
                    beginning.
                    <br>
                    This can be a key point for your business to succeed together with good
                    marketing, good products and business strategies.
                    <br>
                    I can tell you that 99% of people really waste money when it comes to a startup.
                    <br>
                    I have seen many bar owners open and close because they have spent too much
                    money, and return of investments was very slow because of that they decided to
                    sell.
                    <br>
                    So, don't waste your time and money, call a professional bartender who knows
                    what to do.
                </p>
                <hr>
                <h2>
                    Bar menu according to your business ideas</h2>
                <p class="divParagraph">
                    Another issue I've seen across bars is the menu.
                    <br>
                    It's the key to success.
                    <br>
                    Your menu must be nice but at the same time profitable and workable for
                    bartenders to make all the drinks as fast as possible.
                    <br>
                    Many bartenders have no idea what they're doing when making the bar list without
                    thinking about service time, profit, or even worse, cost of products.
                    <br>
                    They just make whatever and guess where all of this will end? Slow service, low
                    profit, waste of money, service burnout, and so on.
                    <br>
                    I can make very good drinks thinking about guests target, Drinks design, speed
                    of service, preparation time, costs and profit.
                </p>
                <hr>

                <h2>
                    Training and recipes with my online platform
                </h2>
                <p class="divParagraph">
                    I have created a platform where all users can log in and learn bartending, even
                    without previous experience.
                    <br>
                    You can keep your bar-backs motivated to learn, or enable new bartenders to
                    upgrade their skills more quickly.
                    <br>
                    Or perhaps other employees can train to know more about the bar, especially if
                    you have a cocktail bar.
                    <br>
                    It’s very important that all the service and bar staff know very well what they
                    are doing, what they are selling.
                    <br>
                    Because at the end of the day, the difference between a good business and not,
                    is the preparation and knowledge of the employees.
                    <br>
                    I have seen many bartenders working fast but making undrinkable drinks, without
                    jiggers, wasting products.
                    <br>
                    Wasting money, your money!
                    <br>
                    Imagine losing 5 cl of product per bottle, this means 1 bottle lost every 14
                    bottles.
                    <br>
                    If you are a high-volume bar, you might use much more than 14 bottles per day
                    and so on.
                    <br>
                    If you are lucky, they just lose 5 cl per bottle.
                    <br>
                    Yes, I just said if you are lucky, because many bartenders waste much more than
                    that by free pouring.
                    <br>
                    Also, the service must know what they are doing. Many waiters seem to have no
                    idea what they are selling. Here’s where my platform comes in.
                    <br>
                    They have the possibility to become professional, and on the other hand, you
                    make your business great.
                    <br>
                    No time pressure with the online platform, by the end of the course they will
                    have a diploma.
                    <br>
                    They only receive the diploma after completing many exams and quizzes.
                    <br>
                    They can study from anywhere in the world, just one click away from their own
                    PC, fully online 24/7 with lifetime access.
                </p>

            </div>
           
        </div>

       
   <%- include('partials/footer.ejs') %>
</body>
</html>