<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <title>Bartender Blog/Meet Me</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Just Manuel 🍸</a>
                </div>
                <ul class="nav navbar-nav  ">
                    <li >
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/classic-cocktails-recipe">Recipes</a>
                    </li>
                    <li>
                        <a href="/bar-stories">Bar stories</a>
                    </li>
                    <li>
                        <a href="/info-contacts">Info & Contacts</a>
                    </li>
                    <li>
                        <a href="/quiz">Cocktails Quiz</a>
                    </li>
                </ul>
                <form id="search-bar" action="/check" method="POST" class="form-inline  my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        id="search-cocktails"
                       name="search-cocktails"
                        placeholder="search-cocktails.."
                        aria-label="Search">

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="divIntroColor">
            <img
                class="imgBar"
                src="Images/ManuelCrispinoBar.png"
                alt="Manuel Crispino Image">
            <hr>
            <div class="divintro">

                <h1>Meet Manuel Crispino: A Journey Through the World of Mixology</h1>

                <div class="divParagraph">
                    <p>
                        Hello, and welcome to my blog! I’m Manuel Crispino, a professional mixologist
                        with a rich history in the art of cocktail creation. My journey has taken me
                        from the vibrant streets of Rome to the bustling nightlife of London, and now,
                        to the beautiful city of Vienna.</p>
                </div>
            </div>
            <hr>
            <div class="divintro">
                <h1>
                    My Story</h1>
                <div class="divParagraph">
                    <p>
                        Born and raised in Rome, I found my passion for mixology at a young age. I was
                        part of a team that opened numerous local bars, each one a testament to our love
                        for cocktails and the community we served. My thirst for knowledge and
                        experience led me to London, where I worked as a bartender for Soho House. It
                        was here that I honed my skills, learning from some of the best in the business
                        and immersing myself in the city’s rich cocktail culture.</p>
                </div>
            </div>
            <hr>
            <div class="divintro">
                <h1>
                    A Journey Across Europe</h1>
                <div class="divParagraph">
                    <p>
                        Seeking new experiences, I spent six months living and working as a bartender in
                        Mallorca. The island’s vibrant nightlife and diverse clientele provided a unique
                        challenge and an opportunity to experiment with local flavors. From there, I
                        moved to Capalbio in Tuscany, where I continued to refine my craft. Each
                        location added a new layer to my mixology skills, broadening my understanding of
                        different spirits and ingredients.</p>
                </div>
            </div>
            <hr>
            <div class="divintro">

                <h1>
                    The Present and Beyond</h1>
                <div class="divParagraph">
                    <p>
                        Today, you’ll find me in Vienna, where I’ve had the pleasure of opening bars for
                        the Dots company and working as a bartender at Das Loft. Currently, I’m crafting
                        cocktails as a freelence Bartender, I also do consultancy for new bars,while i
                        am working for my web site and my youtube channel .</p>
                </div>
            </div>
            <hr>
            <div class="divintro">
                <h1>
                    What’s Next?</h1>
                <div class="divParagraph">

                    <p>
                        This blog is more than just a collection of cocktail recipes; it’s a chronicle
                        of my journey through the world of mixology. It’s about the people I’ve met, the
                        places I’ve seen, and most importantly, the joy that comes from creating
                        something truly special from a blend of spirits and ingredients. So whether
                        you’re a fellow mixologist looking for inspiration or a cocktail enthusiast
                        eager to try something new, I invite you to join me on this journey. Let’s
                        explore the art of mixology together one cocktail at a time. Stay tuned for our
                        next post where we’ll dive into crafting the perfect Negroni. Until then, raise
                        your glasses high and let’s toast to good times and great cocktails! 🍹</p>
                        
                </div>
            </div>
            <hr>
        </div>
       
   <%- include('partials/footer.ejs') %>
</body>
</html>