<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mojito</title>
      <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Mojito</h1>
                <img class="cocktail-images" src="Images/mojito.png" alt="mojito img">
                <div class="p-div-cocktail">
                    <p class="p-center">
                        Mojito is a refreshing cocktail born in cuba who doesn't like Mojito? there are
                        many many variants but i like the classic way refreshing little bit sour, soft
                        to drink and a little sweet. by every sip you can feel your self in summer
                        <br>
                        if you are interested to know more than check
                        <a class="link-text" href="/mojito-story">Here
                        </a>
                        .
                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        Start with 15 mint leafs add sugar and soda than muddle gently the mint add lime
                        and Rum and stir with ice mae sure the mint will be going around all the
                        surfaces going also up and down fill with ice add the Garnish and the straw .
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Highball
                        <br>
                        Method: Build
                        <br>
                        Garnish: Mint and Lime
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>4.5cl Cuban Rum</li>
                            <li>2.5 cl Lime juice
                            </li>
                            <li>2cl Sugar Syrup</li>
                            <li>15 Mint Leafs
                            </li>
                            <li>3cl Soda</li>
                        </ul>
                        <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/Qs96NpPloGc?si=LITk3vAdE5TsMF8i&amp;start=25"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    </div>
                    

                </div>
            </div>
            
              
          
        </div>
        <hr>
    </div>
</body>
</html>