<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Negroni</title>
      <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Negroni</h1>
                <img class="cocktail-images" src="Images/Negroni.png" alt="Negroni">
                <div class="p-div-cocktail">
                    <p class="p-center">The Negroni cocktail was born in Florence and takes its name
                        from Count Negroni. Legend says returning from a trip from London he went to his
                        Usual bar ,and asked the Barman to mix the usual Campari and Vermouth with a
                        little bit of gin brought from England. and there you go the Cocktail Negroni
                        was created .
                        <br>
                        if you are interested to know more than check
                        <a class="link-text" href="/negroni-story">Here
                        </a>
                        .
                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        Mix all the ingredients into the glass add some ice , stir it up and garnish
                        with a nice orange peel
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Tumbler
                        <br>
                        Method: Build
                        <br>
                        Garnish: Orange peel
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>3 cl Gin</li>
                            <li>3 cl Red Vermouth</li>
                            <li>3 cl Campari</li>
                        </ul>
                        <iframe
                          
                            src="https://www.youtube.com/embed/W-gOzBRvtS0?si=jkjFZeJ4fBNv6LwV&amp;start=25"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <hr>

                </div>
            </div>

        </div>

    </div>
</body>
</html>