<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Negroni story</title>
        <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">
<div class="divintro">
            <h1 id="negroni-story">The Negroni
            </h1>

            <img class="cocktail-images" src="Images/Negroni.png" alt="Negroni">

            <p class="divParagraph">As an Italian bartender, I couldn’t start without one of
                the most famous cocktails in the world created in Italy.
                <br>
                I read an entire book about the history of Negroni and i was almost shocked to
                think that Count Camillo Negroni spontaneously created this cocktail in the
                early 1900s in Florence, Italy.
                <br>

                Camillo, just back from a long trip in England, went to his usual bar, Caffè
                Cassoni, and asked the bartender named Fosco Scarcelli to modify his Americano
                cocktail, made with Red Vermouth,Campari and Soda. Camillo have asked "Hey Fosco
                what do you think if we add a little bit of gin inside today ".
                <br>
                The same gin he just brought back from England.
                <br>
                So I stop here for a second and imagine this Man, Camillo, as a classic Italian
                nobleman going to his usual bar with his bottle that not many had seen before at
                that time and probably it was the first time for a lot of people.
                <br>
                He asks the bartender to add some of this mysterious ingredient to the classic
                and boring Americano.
                <br>
                I imagine Fosco Scarcelli trying to figure out how to balance it and when he did
                balance it, he exclaimed, “Oh mamma mia! Delicious!” And so here we go. Now
                Camillo has the attention of the whole Bar.
                <br>
                "Hey ragazzi try this , its a new creation with the gin i just brought from
                england ."
                <br>
                I imagine all this people , probably all pepoole used to know each other there
                was not so much tourist in that era.
                <br>
                Now they want to try this new mysterious cocktail named after the first
                inventor, Negroni.
                <br>
                Now all the guests start to loudly ask, “I want a Negroni too!”, so here we go
                now Fosco Scarcelli starting to mix a new cocktail the cocktail now we know as
                the Negroni .
                <a class="link-text" href="/negroni">Here the recipe</a>

            </p>
            <hr>
        </div>
        </div>

   <%- include('partials/footer.ejs') %>
</body>
</html>