<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Negroni story</title>
        <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">
            <div class="divintro">
                <h1 id="negroni-story">The Negroni Sbagliato
                </h1>

                <img class="cocktail-images" src="Images/Negroni.webp" alt="Negroni">

                <p class="divParagraph">
                    1972 Bar Basso Milano , Mirko Stocchetto the barman was in a busy day at the bar
                    ,
                    <br>
                    He was doing the classic Negroni while a guest was talking to him he
                    accidentally poured Prosecco Instead of the gin.
                    <br>
                    When he served the drink to the guest , the guest was surprise and asked Mirko
                    did you put Prosecco inside ?. 
                    <br> 
                    Mirko realize his error and tell the guest " i am sorry i will make it for you again"
                     and the guest said" no,no his
                    actually very good was just a question because i actually liked .
                    <a class="link-text" href="/negroni-sbagliato">Here the recipe</a>

                </p>
                <hr>
            </div>
        </div>

   <%- include('partials/footer.ejs') %>
</body>
</html>