<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Negroni story</title>
        <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">
            <div class="divintro">
                <h1 id="negroni-story">Old Fashion
                </h1>

                <img class="cocktail-images" src="Images/old-fashion.webp" alt="Old fashion">
                <!--Transladed-->
                <p class="divParagraph">
                    If you are a whiskey lover then you probably love old fashion cocktail too.
                    <br>
                    The Pendennis Club, a gentlemen's club founded in 1881 in Louisville, Kentucky.
                    <br>
                    Now in Louisville the Old Fashion is celebrated the first 2 weeks of June .
                    <br>
                    Here is where the Old Fashion gained poplarity where a barman had made it in
                    honor of Colonel James E. Pepper, a famous bourbon distiller.
                    <br>
                    The Old Fashion was born even earlier, the very first mention in print of "old
                    fashioned cocktail" was in the Chicago Daily in February 1880s.
                    <br>
                    But already since May 13th 1806 in New York tabloid 'The Balance and Columbian
                    Repository' defined a cocktail as "a stimulating liquor, composed of spirits of
                    any kind, sugar, water and bitters...".
                    <br>
                    13th of May is now used to celebrate the international Cocktail Day.
                    <br>
                    Considering Angoustura bitter was made in 1824, by Dr. Johann Siegert .
                    <br>
                    It is very difficult to find out the real origin of this cocktail but for sure
                    ,it was one of the first ever created .

                    <a class="link-text" href="/old-fashion">Here the recipe</a>

                </p>
                <hr>
            </div>
        </div>

   <%- include('partials/footer.ejs') %>
</body>
</html>