<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Negroni</title>
      <%- include('partials/nav.ejs') %>
      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Old Fashioned",
            "image": "Images/old-fashion.webp",
            "author": {
                "@type": "Person",
                "name": "Just Manuel"
            },
            "recipe": {
                "@type": "Recipe",
                "recipeYield": "1",
                "cookTime": "PT0M",
                "totalTime": "PT0M",
                "nutrition": {
                    "@type": "NutritionInformation",
                    "calories": "Calories not specified"
                },
                "recipeInstructions": [
                    {
                        "@type": "HowToStep",
                        "text": "Add sugar to the glass, then angostura. Mix well, add some ice, stir it up, and garnish with a nice orange peel."
                    }
                ],
                "ingredients": [
                    "5 cl bourbon whiskey",
                    "1 cl sugar syrup / or 1 sugar cube",
                    "5 dash angostura"
                ]
            }
        }
    </script>
</head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Old fashion</h1>
                <img class="cocktail-images" src="Images/old-fashion.webp" alt="Old Fashion">
                <div class="p-div-cocktail">
                    <p class="p-center">
                        I personally love to drink old fashion after a good meal while is cold and
                        raining outside .
                        <br>
                        In good company with some good relaxing, jazz,blues music in the back.
                        <br>
                        Is a nice drink that will stay with you durnig deep talks , a little sweet a
                        little bitter and preatty dry so is very important to use your best bourbon or
                        rye or any whiskey you like .
                        <br>
                        if you are intersted to know more about the story than check
                        <a class="link-text" href="/old-fashion-story">
                            Here</a>.

                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        Add first the sugar into the glass than angostura mix it well than add some ice
                        ,
                        <br>
                        stir it up and garnish with a nice orange peel
                        <br>
                    </p>
                    <p class="glass-p">
                        Glass: Tumbler
                        <br>
                        Method: Build
                        <br>
                        Garnish: Orange peel
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>5 cl bourbon whiskey
                            </li>
                            <li>1 cl suagar syrup / or 1 sugar cube
                            </li>
                            <li>5 dash angostura</li>
                        </ul>
                        <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/FczyxyH7SyA?si=59kqAC49P06Ja9Mi&amp;start=25"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                
                    </div>
                    <hr>

                </div>
            </div>
            <hr>
        </div>
       
           
        <hr>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>