<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sazerac-story
        </title>
        <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">
            <div class="divintro">
                <h1 id="negroni-story">Sazerac
                </h1>

                <img class="cocktail-images" src="Images/sazerac.png" alt="Negroni">

                <p class="divParagraph">
                    Amédée Peychaud the bitter inventor he was originally from the French colony
                    Sant-Domingue now Haiti.
                    <br>
                    Emigrated to New Orleans during Haiti revolution he opened a small Apothecary
                    where he used to sell his own bitter.
                    <br>
                    At the beginning was a remedy against indigestion until, around 1850s Sewell T.
                    Taylor sold his New Orleans bar, the Merchants Exchange Coffee House.
                    <br>
                    And become an importer of spirits, and he began to import a brand of cognac
                    named Sazerac-de-Forge.
                    <br>
                    The new owner , Aaron Bird assumed proprietorship of the Merchants Exchange and
                    changed its name to Sazerac Coffee House.
                    <br>
                    Where he used to sell The Sazerac cocktail made with Sazerac cognac,sugar
                    absinthe and the local bitter of the local apothecary.
                    <br>
                    A lot of people consider sazerac as the very first cocktail ever invented but is
                    wrong as i said from
                    <a class="link-text" href="/old-fashion-story">Old fashion story</a>
                    Also now is very use to make this cocktail with Rye Whiskey , because in 1870s
                    due phylloxera insect that have invaded grape in europe was much easier and
                    cheaper to use American Rye whiskey.
                    <br>
                    But as i said in the recipe i love cognac and i really enjoy the original
                    sazerac recipe , if i am behind the bar i always ask the guest .
                    <br>
                    But my personal recipe for my self i use cognac .
                    <a class="link-text" href="/sazerac">Here the recipe</a>

                </p>
                <hr>
            </div>
        </div>

   <%- include('partials/footer.ejs') %>
</body>
</html>