<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whiskey Sour</title>
       <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Whiskey Sour</h1>
                <img class="cocktail-images" src="Images/whiskey-sour.png" alt="Negroni">
                <div class="p-div-cocktail">
                    <p class="p-center">Whiskey sour one of the best drinks very easy and refreshing.
                        <br>
                        All you need is 1 bottle of bourbon or rye whiskey,lemon, sugar and if you like egg white.
                        <br>

                        <br>
                        if you are intersted to know more than check 
                        <a class="link-text" href="/whiskey-sour-story">
                            Here</a>.
                        
                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        mix all the ingridients into the glass add some ice , stir it up and garnish
                        whith a nice orange peel
                        <br>
                    </p>
                    <p class="glass-p">
                        glass: Tumbler
                        <br>
                        Method: Shake
                        <br>
                        Garnish: Orange peel
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>5 cl Whiskey</li>
                            <li>2.5 cl Lemon juice</li>
                            <li>2 cl sugar syrup /or/2-3 spoons caster</li>
                            <li>2 cl egg white optional</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>