<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whiskey Sour</title>
       <%- include('partials/nav.ejs') %>
       <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Recipe",
            "name": "Whiskey Sour",
            "image": "Images/whiskey-sour.webp",
            "author": {
                "@type": "Person",
                "name": "Just Manuel"
            },
            "recipe": {
                "@type": "Recipe",
                "recipeYield": "1",
                "cookTime": "PT0M",
                "totalTime": "PT0M",
                "nutrition": {
                    "@type": "NutritionInformation",
                    "calories": "Calories not specified"
                },
                "recipeInstructions": [
                    {
                        "@type": "HowToStep",
                        "text": "Mix all the ingredients into the glass. Add some ice, stir it up, and garnish with a nice orange peel."
                    }
                ],
                "ingredients": [
                    "5 cl Whiskey",
                    "2.5 cl Lemon juice",
                    "2 cl sugar syrup /or/2-3 spoons caster",
                    "2 cl egg white optional"
                ]
                "video": {
                "@type": "VideoObject",
                "name": "Whiskey Sour Cocktail Recipe",
                "description": "Learn how to make a Whiskey Sour cocktail",
                "contentUrl": "https://www.youtube.com/watch?v=sI1WCZKrAZA",
                "embedUrl": "https://www.youtube.com/embed/sI1WCZKrAZA?si=-aVr_DEKklozF4ow"
            }
        }
    </script>
</head>
        <div class="divIntroColor">

            <div class="cocktails-div">

                <h1>Whiskey Sour</h1>
                <img class="cocktail-images" src="Images/whiskey-sour.webp" alt="Negroni">
                <div class="p-div-cocktail">
                    <p class="p-center">Whiskey sour one of the best drinks very easy and refreshing.
                        <br>
                        All you need is 1 bottle of bourbon or rye whiskey,lemon, sugar and if you like egg white.
                        <br>

                        <br>
                        if you are intersted to know more than check 
                        <a class="link-text" href="/whiskey-sour-story">
                            Here</a>.
                        
                    </p>
                </div>
                <div class="cocktails-div">
                    <h2 >Method and preparation</h2>
                    <p class="p-center">
                        mix all the ingridients into the glass add some ice , stir it up and garnish
                        whith a nice orange peel
                        <br>
                    </p>
                    <p class="glass-p">
                        glass: Tumbler
                        <br>
                        Method: Shake
                        <br>
                        Garnish: Orange peel
                    </div>
                    <div class="div-ul">

                        <ul>
                            <li>5 cl Whiskey</li>
                            <li>2.5 cl Lemon juice</li>
                            <li>2 cl sugar syrup /or/2-3 spoons caster</li>
                            <li>2 cl egg white optional</li>
                        </ul>

                    </div>
                    <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/sI1WCZKrAZA?si=-aVr_DEKklozF4ow"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>