<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>White Russian Story</title>
      <%- include('partials/nav.ejs') %>
        <div class="divIntroColor">

            <div class="divintro">

                <h1>Black Russian</h1>
                <img class="cocktail-images" src="Images/white-russian.png" alt="White Russian img ">
                <div class="divParagraph">
                    <p >
                        White russian become very popular around 1998, thanks to the movie The Big
                        Lebowski.
                        <br>
                         The origin of this cocktail is unknown but we know his father is The<a class="link-text" href="/black-russian">
                            Black Russian</a>
                        .
                        <br>
                        Basically is the same drink but without double Cream .
                        <br>
                        In 1965 it made its first appearance in print—in a newspaper advertisement for
                        Coffee Southern liqueur.
                        <br>

                        <br>
                        See recipe
                        <a class="link-text" href="/black-russian">Here the recipe</a>

                    </p>
                </div>

            </div>
       <%- include('partials/footer.ejs') %>
</body>
    </html>