<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartender Blog Just Manuel </title>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"  href="style.css">
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Just Manuel 🍸</a>
        </div>
        <ul class="nav navbar-nav  ">
            <li class="active">
                <a href="index.ejs">Home</a>
            </li>
            <li>
                <a href="classic-cocktails-recipe.html">Recipes</a>
            </li>
            <li>
                <a href="bar-stories.html">Bar stories</a>
            </li>
            <li>
                <a href="info-contacts.html">Info & Contacts</a>
            </li>
            <li>
                <a href="quiz.html">Cocktails Quiz</a>
            </li>
        </ul>
        <form id="search-bar" action="/check" method="POST" class="form-inline  my-2 my-lg-0">
            <input
                class="form-control mr-sm-2"
                type="search"
                id="search-cocktails"
               name="search-cocktails"
                placeholder="search-cocktails.."
                aria-label="Search">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<body>
    <main>
        
  
    
</body>
</html>