<div id="cookie-banner" class="cookie-banner">
    <p>
        This website uses cookies. By continuing to use this site, you consent to the
        use of cookies in accordance with our
        <a href="/privacy-policy">Privacy Policy</a>.
        <button id="accept-cookies">Accept</button>
    </p>
</div>

<footer>
    Manuel Crispino ©
    <%=new Date().getFullYear() %>
</footer>

</main>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-G-ELENK56N9P"></script>
<!--google analytics-->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-ELENK56N9P');
</script>
<script defer src="/style.js"></script>
<script src="cookie-banners.js"></script>
</body>

</html>