<div id="cookie-banner" class="cookie-banner">
    <p>
        This website uses cookies. By continuing to use this site, you consent to the
        use of cookies in accordance with our
        <a href="/privacy-policy">Privacy Policy</a>.
        <button id="accept-cookies">Accept</button>
    </p>
</div>

<footer>
    Manuel Crispino ©
    <%=new Date().getFullYear() %>
</footer>

</main>

</body>
<script src="cookie-banners.js"></script>
</html>