<!-- nav.ejs -->
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"  href="/style.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-G-ELENK56N9P"></script>
<!--google analytics-->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-ELENK56N9P');
</script>
<meta name="robots" content="index, follow">
<meta
  name="description"
  content="Discover a collection of classic cocktail recipes by Just Manuel. Explore Negroni, Daiquiri, Whiskey Sour, and more. Personalized interpretations for a unique taste experience."
>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Just Manuel 🍸</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/classic-cocktails-recipe">Recipes</a>
            </li>
            <li>
                <a href="/bar-stories">Bar stories</a>
            </li>
            <li>
                <a href="/info-contacts">Info & Contacts</a>
            </li>
            <li>
                <a href="/quiz">Cocktails Quiz</a>
            </li>
        </ul>
        <form id="search-bar" action="/check" method="POST" class="form-inline my-2 my-lg-0">
            <input
                class="form-control mr-sm-2"
                type="search"
                id="search-cocktails"
                name="search-cocktails"
                placeholder="search-cocktails.."
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<main>